# SONAR Rock or Mine Prediction

Ref: [Sidhardhan's ML projects](https://www.youtube.com/watch?v=fiz1ORTBGpY&list=PLfFghEzKVmjvuSA67LszN1dZ-Dd_pkus6)
Author

> ### **Aim:**
To detect whether the object beneath the submarine is a Mine (M) or a Rock (R) using data from submarine's SONAR tech

> ### **Workflow:**

1. Collect SONAR data (waves reflected from rock/metal in a lab setup)
1. Data collection and Pre-processing
1. Train, test, split
1. Use logistic regression model (since it works well for binary classification) ---> supervised learning
1. The created logistic regression model will be fed new data and its predictions on whether the object is a Rock(R) or a Mine(M) will be evaluated

In [97]:
# importing required modules

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

## **Data Collection and Pre-processing**

In [98]:
# examining the data
sonar_df = pd.read_csv('sonar_data.csv', header=None)
print(f"The dataframe has {sonar_df.shape[0]} rows and {sonar_df.shape[1]} columns")
print("Here are some basic stats regarding the numerical data:")
sonar_df.describe()

The dataframe has 208 rows and 61 columns
Here are some basic stats regarding the numerical data:

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

The last column (index = 60) states whether the object is a rock (R) or a mine (M)

In [99]:
# counts number of categories for non-numeric data
sonar_df[60].value_counts()

M    111
R     97
Name: 60, dtype: int64

To train a good model we require:
- Lots of data, for both categories
- An equal amount of data, for both categories

Given the scope of this beginner project, the amount of data is sufficient (ideally we would require at least 1000 values for each category) and since there are an almost equal number of data points for both rocks and mines, our prediction will suitably conform to a good accuracy score.

Separate the input data, X i.e. **features** (columns 0 to 59) and the data to be predicted, y i.e. **labels** (column 60)

In [102]:
# separate the features (X) and the labels (y)
X = sonar_df.drop(60, axis=1)
Y = sonar_df.iloc[:,60]

## **Train, Test, Split**

In [103]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                    random_state = 1,
                                                    test_size = 0.1,
                                                    stratify = Y)

Parameters:
- `X_train` = training data; `Y_train` = corresponding labels of the training data
- `X_test` = testing data; `Y_test` = corresponding labels of the testing data
- 10% of data will be in the testing set => `test_size = 0.1`
- split the data into rock(R) and mine(M) => `stratify = Y`
- should spilt the data similarly whenever the function is called => `random_state = 1`

## **Model Training and Evalutaion**

In [104]:
# logistic regression model
sonar_log_model = LogisticRegression()

In [105]:
# fit training data to the model
sonar_log_model.fit(X_train, Y_train)

LogisticRegression()

Check accuracy on training data first...
- `X_train_pred`: prediction values by the model on training data
- `Y_train`: true/actual values

In [106]:
# accuracy on training data
X_train_pred = sonar_log_model.predict(X_train)
accuracy_X_train_pred = accuracy_score(X_train_pred, Y_train)
print(f"Accuracy on Training data: {accuracy_X_train_pred*100:.1f}%")

Accuracy on Training data: 83.4%

...then on testing data:
- `X_test_pred`: prediction values by the model on test data
- `Y_test`: true/actual values

In [107]:
# accuracy on test data
X_test_pred = sonar_log_model.predict(X_test)
accuracy_X_test_pred = accuracy_score(X_test_pred, Y_test)
print(f"Accuracy on Testing data: {accuracy_X_test_pred*100:.1f}%")

Accuracy on Testing data: 76.2%

## **Making a Predictive System**

Choose a random row from the data set (that is not in the training data!) as input data and see if the model correctly predicts the result

In [108]:
from random import choice

def rand_row_idx(X_train):
  '''
  function that accepts a training set and returns the row indices of the values used in the training set and 
  a random row index whose values haven't been used in that training set
  '''
  train_idxs = np.asarray(X_train.index) # all row indices used in training set
  remaining_idxs = [i for i in range(0,X.shape[0]) if i not in train_idxs] # remaining row indices
  return train_idxs, choice(remaining_idxs) # selects a single row index at random

Check whether the row index refers to the indices of the training set values...

In [109]:
# check whether row index choice is in the list of indices of the training set
if rand_row_idx(X_train)[1] in rand_row_idx(X_train)[0]:
  print(True)
else:
  print(False)

False

In [110]:
row_idx = rand_row_idx(X_train)[1]
row_idx

109

Get a set of values corresponding to the random row index and use your model to make a prediction

In [111]:
# reshape input data
new_input = np.asarray(X.iloc[row_idx]).reshape(1,-1)

def rock_or_mine(X):
  '''function that takes in a set of values as input, and returns a prediction whether
  those values correspond to a rock(R) or a mine(M)'''
  return sonar_log_model.predict(X)

In [112]:
if rock_or_mine(new_input) == 'R':
  print("The object predicted is a: Rock")
else:
  print("The object predicted is a: Mine")

if rock_or_mine(new_input) == Y[row_idx]:
  print("This is a correct prediction :)")
else:
  print("This is an incorrect prediction :(")

The object predicted is a: Mine
This is a correct prediction :)